body {
    background-color: blanchedalmond;
    padding: 1rem 5rem;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fg: hsl(19, 56.1%, 40.2%);
    --fg-muted: hsl(22, 45.5%, 68.9%);
    color: var(--fg);
}

/* .library { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: flex-start; */
/* } */

.library-container {
    font-size: 18px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 300px); */
    gap: 2rem;
}

.library-card {
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--fg-muted);
    border-radius: 10px;
    min-height: 300px;
    width: 250px;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-author {
    font-style: italic;
}

.card-status {
    color: var(--fg-muted);
    margin-top: auto;
    padding: 1em;
}
